*{
  margin: 5px;
  padding: 0px;
}
button{
  padding: 10px;
  margin: 5px;
  background-color: rgb(45, 205, 216);
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: none;
  border-radius: 10px;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.centerAll{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divisor{
  display: block;
  width: 90vw;
  height: 5px;
  background-color: rgb(102, 100, 100);
  border-radius: 10px;
  margin: 10px 0px; 
}
button:hover{
  background-color: rgb(0, 255, 85);
  color: rgb(247, 247, 247);
}
.navTop{
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.navTopLinks{
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.pokemosCards{
  display: flex;
  flex-wrap: wrap;
}
.navTopLinks li{
  list-style: none;
}
figure{
  border-radius: 10px;
  background-color: rgb(129, 193, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
figure figcaption{
  color: rgb(42, 97, 146);
  font-weight: 800;
}
.imgCharacter{
  width: 120px;
}
